.root {
    padding: 1rem;
}

.header {
    margin-bottom: 2rem;
    text-align: center;
}

.title {
    text-transform: uppercase;
}

.content {
    display: flex;
    justify-content: center;
}

.fetchError {
    background-color: rgb(var(--venia-warning-light));
    color: rgb(var(--venia-warning-dark));
}

.fetchingData {
    color: rgb(--venia-grey);
}

.noResults {
    composes: fetchingData;
}
